.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  position: fixed;
  background-color: #191b21;
  width: 100vw;
  z-index: 1;
  padding: 20px;
  justify-content: space-between;
  /* justify-content: space-evenly; */
}

.icon a {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

.main {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
  align-items: center;
}

.main_links {
  display: flex;
  align-items: center;
  gap: 40px;
  font-size: max(1vw, 10px);
  cursor: pointer;
  padding-left: 40px;
  padding-right: 40px;
}

.search_section {
  font-size: max(2vw, 20px);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 20px;
}