.main_container {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 170px;
  gap: 20px;
}

.loader {
  display: flex;
  padding-top: 250px;
  justify-content: center;
}

.schedule {
  display: flex;
  gap: 20px;
  animation: schedule linear 50s infinite alternate;
}

.schedule:hover {
  animation-play-state: paused;
}

@keyframes schedule {
  0% {
    opacity: 0;
    transform: translate3d(0, 0, 0);
  }

  2% {
    opacity: 1;
  }

  100% {
    transform: translate3d(-50%, 0, 0);
  }
}