.main_container {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 100px;
  gap: 20px;
}

.schedule {
  display: flex;
  gap: 20px;
  animation: schedule linear 50s 1s, fade-in 4s;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes schedule {
  0% {
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    transform: translate3d(-100%, 0, 0);
  }
}