.main_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 170px;
  gap: 20px;
}

.header {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  min-width: 300px;
}

.header img {
  height: 300px;
  border-radius: 5px;
}

.image {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.main_details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
  max-width: 500px;
  min-width: 200px;
  padding: 20px;
}

.main_details h1 {
  text-align: center;
}

.rating {
  display: flex;
  align-items: center;
  gap: 10px;
}

.rating p {
  font-size: 12px;
}

.description {
  text-align: justify;
}

.more_details {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 95vw;
}