.container {
  display: flex;
  flex-direction: column;
  width: 35vw;
  max-width: 150px;
  /* 
  height: 55vw;
  max-height: 230px;
   */
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  text-align: center;
  font-size: 15px;
}

.container img {
  height: 40vw;
  width: 28vw;
  max-height: 170px;
  max-width: 120px;
  border-radius: 5px;
}

.container:hover {
  animation: lift 2s infinite ease-in-out alternate;
}

.heart_outline {
  opacity: 0;
  font-size: 20px;
}

.container:hover .heart_outline {
  opacity: 1;
}

.heart_fill {
  color: #e33b5f;
  font-size: 20px;
}

.image_container {
  position: relative;
  display: flex;
  align-items: center;
}

.image_container:hover .info {
  opacity: 1;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 5px;
  position: absolute;
  opacity: 0;
  height: 40vw;
  width: 28vw;
  max-height: 170px;
  max-width: 120px;
  background-color: rgb(25, 27, 33, 0.7);
}

.title {
  border: 1px solid red;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

@keyframes lift {
  10% {
    transform: translateY(-5px);
  }
}